*{
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    }
body{
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    display: block;
    width: 740px;
    height: 300px;
    margin: 0 auto 10px;
    padding: 10px;
    font-size: 24px;
}
.keyboard{
    border: 2px solid black;
    margin :0px auto;
    width: 760px;
    border-radius: 5px;
}
.keyboard-row{
    width: 100%;
    display: flex;
}
.keyboard-letter{
    width: 40px;
    height: 29px;
    margin: 5px;
    background: peachpuff;
    border-radius: 5px;
    text-align: center;
    padding-top: 11px;
    font-size: 16px;
    font-weight: bold;
}
.keyboard-letter:hover{
    cursor: pointer;
    background: palegreen;
}
.keyboard :nth-child(1) :last-child{
    width: 100px;
}
.keyboard :nth-child(2) :first-child{
    width: 50px;
}
.keyboard :nth-child(3) :first-child{
    width: 100px;
}
.keyboard :nth-child(3) :last-child{
    width: 90px;
}
.keyboard :nth-child(4) :first-child{
    width: 100px;
}
.keyboard :nth-child(5) :nth-child(4){
    width: 350px;
}